{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    // "eslint:recommended",
    // "plugin:react/recommended",
    // "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended",
    "airbnb",
    "airbnb/hooks"
    // "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "tailwindcss"],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    // ---
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    // "react/display-name": "off",
    // "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",

    "max-len": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "no-shadow": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "tailwindcss/no-custom-classname": "off"
    // "@typescript-eslint/explicit-module-boundary-types": "off",
    // "@typescript-eslint/no-non-null-assertion": "off",
    // "tailwindcss/classnames-order": "warn",
    // "tailwindcss/no-custom-classname": "warn",
    // "tailwindcss/no-contradicting-classname": "error"
  }
}